.Chart {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--padding-l);
  width: 60vw;
}

.Chart__toggleSwitch.MuiFormGroup-root {
  flex-direction: row;
}

.Chart__toggleSwitch .css-aqlqb4-MuiButtonBase-root-MuiSwitchBase-root-MuiSwitch-switchBase.Mui-checked {
  color: var(--primary-200);
}

.Chart__toggleSwitch .css-aqlqb4-MuiButtonBase-root-MuiSwitchBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
  background-color: var(--primary-200);
}