:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* color variables */
  --primary-000: #081c15;
  --primary-100: #1b4332;
  --primary-200: #2d6a4f;
  --primary-300: #40916c;
  --primary-400: #52b788;
  --primary-500: #74c69d;
  --primary-600: #95d5b2;
  --primary-700: #b7e4c7;
  --primary-800: #d8f3dc;
  --primary-900: #fff;

  /* padding */
  --padding-xs: 4px;
  --padding-s: 8px;
  --padding-m: 12px;
  --padding-l: 16px;
  --padding-xl: 24px;
  --padding-xxl: 32px;
  --padding-3xl: 48px;
  --padding-4xl: 64px;

  --border-radius-small: 3px;
  --border-radius-standard: 6px;

  /* breakpoints */
  --breakpoint-s: 480px;
  --breakpoint-m: 768px;
  --breakpoint-l: 1024px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 30px;
  line-height: 38px;
}

h2 {
  font-size: 26px;
  line-height: 34px;
}

h3 {
  font-size: 22px;
  line-height: 30px;
}
h4 {
  font-size: 18px;
  line-height: 26px;
}

h5 {
  font-size: 16px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 22px;
}

p {
  font-size: 14px;
  line-height: 22px;
}

