#root {
  width: 100vw;
}

.SiteHealthDashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.SiteHealthDashboard__mainContent {
  display: flex;
  flex: 1;
  min-height: 0; 
  flex-direction: column;
  gap: var(--padding-3xl);
  align-items: center;
  background-color: var(--primary-800);
  overflow-y: auto;
  padding: var(--padding-4xl);
}

.SiteHealthDashboard__metricsContainer {
  display: flex;
  gap: var(--padding-3xl);
  justify-content:center;
  width: 60vw;
}

@media (max-width: 480px) {
  .SiteHealthDashboard__metricsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--padding-3xl);
    gap: var(--padding-3xl);
  }
}